#slider-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 400px;
    transition: transform 0.5s ease-in-out;
    align-items: center;
}

img {
    width: 100%;
}

#slider {
    overflow: hidden;
    width: 100%;
    border-radius: 30px;
}

#slider-inner img {
    aspect-ratio: 16/9;
    object-fit: cover;
}