/*Estilos del Formulario*/
form {
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: #99996640;
    border-radius: 10px;
    box-shadow: 0 0 10px #99996678;
}

fieldset {
    width: 96%;
    margin: 5px auto;
    height: 150px;
    border: 2px solid #999966;
    border-radius: 10px;
    padding: 5px;

}

.size {
    height: 230px;
}

legend {
    font-size: 1.2em;
    margin: 10px;
}

label {
    font-size: 1em;
    margin: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 60%;
    border: 1px solid #999966;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
}

select {
    width: 50%;
    border: 1px solid #999966;
    border-radius: 5px;
    font-size: 1em;
}

input[type="number"] {
    margin: 5px;
    width: 10%;
    border: 1px solid #999966;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

input[type="submit"],
input[type="reset"] {
    width: 250px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #999966;
    color: white;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 1px 5px 0px #000;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    transform: scale(0.99);
    box-shadow: none;
}