main {
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 200px;
    grid-template-areas:
        "info mapa"
        "info ruta";
    justify-content: center;
    align-items: center;
}

.contact-info {
    grid-column: 1/3;
    grid-area: info;
}

#map {
    grid-area: mapa;
}

.ruta-info {
    grid-area: ruta;
}