<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aromas del Bosque</title>
    <link rel="shortcut icon" href="../assets/icons/icon-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style/general.css">
</head>

<body>
    <!--Encabezado-->
    <header>
        <!--Imagen de la Marca y Contacto-->
        <div id="marca">
            <!--Logo-->
            <div class="logo">
                <img src="../assets/brand/1.png" alt="Logotipo de Aromas del Bosque"
                    title="Logotipo de Aromas del Bosque" width="300" height="300">
            </div>
            <!--Contacto-->
            <div class="contacto">
                <div class="tel">
                    <img src="../assets/icons/phone-svgrepo-com.svg" alt="icono de teléfono" title="icono de teléfono"
                        width="100" height="100">
                    <a href="tel:+34654987321">+34 654 987 321</a>
                </div>
                <div class="mail">
                    <img src="../assets/icons/mail-alt-2-svgrepo-com.svg" alt="icono de correo electrónico"
                        title="icono de correo electrónico" width="100" height="100">
                    <a href="mailto:info@aromasdelbosque.com">info@aromasdelbosque.com</a>
                </div>
            </div>
        </div>
        <!--Barra de Navegación-->
        <nav id="nav-bar">
            <ul>
                <li class="link"><a href="../index.html">Home</a></li>
                <li class="link"><a href="#">Productos</a></li>
                <li class="link"><a href="presupuesto.html">Información</a></li>
                <li class="link"><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Contenido Principal-->

    </main>
    <footer>
        <div id="inicio">
            <a href="#">
                <img src="../assets/brand/4.png" alt="Nombre de la empresa" title="Aroma del Bosque" width="200"
                    height="200">
            </a>
        </div>
        <!--Redes Sociales y contacto-->
        <div id="redes-contacto">
            <!--Redes-->
            <div class="redes">
                <ul>
                    <li><a href="instagram.com">
                            <img src="../assets/icons/instagram-svgrepo-com.svg" alt="Enlace a Instagram"
                                title="logo de instagram" width="100" height="100">
                        </a></li>
                    <li><a href="whatsapp.com">
                            <img src="../assets/icons/whatsapp-svgrepo-com.svg" alt="Enlace a WhatsApp"
                                title="logo de whatsapp" width="100" height="100">
                        </a></li>
                </ul>
            </div>
            <!--Contacto-->
            <div class="contacto">
                <div class="tel">
                    <img src="../assets/icons/phone-svgrepo-com.svg" alt="icono de teléfono" title="icono de teléfono"
                        width="100" height="100">
                    <a href="tel:+34654987321">+34 654 987 321</a>
                </div>
                <div class="mail">
                    <img src="../assets/icons/mail-alt-2-svgrepo-com.svg" alt="icono de correo electrónico"
                        title="icono de correo electrónico" width="100" height="100">
                    <a href="mailto:info@aromasdelbosque.com">info@aromasdelbosque.com</a>
                </div>
            </div>
        </div>
        <img src="../assets/brand/3.png" alt="Nombre de la empresa" title="Aroma del Bosque" width="200" height="200">
        <p>&copy; 2025 Aromas del Bosque. Todos los derechos reservados.</p>
    </footer>
</body>

</html>